body {
    background-color: #F93943;
}

.myNav {
    display: block;
    height: 50px;
    line-height: 50px;
    background-color: #7EB2DD;
    border-radius: 20px;
    border-style: solid;
    border-color: white;
}

.myNav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 25px;
}

.myNav li {
    float: right;
    font-family: Consolas;   
}

.myNav li a {
    display: inline-block;
    text-align: center;
    padding: 1px 25px;
    color:white;
}

.myNav img {
    width: 60px;
    height: 50px;
    border-radius: 20px;
}

.Easy {
    background-color: #7EB2DD;
    height: 300px;
    width: 250px;
    border-style: solid;
    border-color: white;
    border-radius: 20px;
}

.Medium {
    background-color: #7EB2DD;
    height: 300px;
    width: 250px;
    border-style: solid;
    border-color: white;
    border-radius: 20px
}

.Hardcore {
    background-color: #7EB2DD;
    height: 300px;
    width: 250px;
    border-style: solid;
    border-color: white;
    border-radius: 20px
}

.h1home {
    text-shadow: 2px 2px black;
}

.h2home {
    text-shadow: 2px 2px black;
}

.blockEasy {
    width: 200px;
    height: 100px;
    background-color: #F93943;
    margin: auto;
    border-radius: 20px;
    border-style: solid;
    border-color: white;
}

.blockEasy a {
    margin: auto;
}

.blockMedium {
    width: 200px;
    height: 100px;
    background-color: #F93943;
    margin: auto;
    border-radius: 20px;
    border-style: solid;
    border-color: white;
    margin: auto;
}

.blockHardcore {
    width: 200px;
    height: 100px;
    background-color: #F93943;
    border-radius: 20px;
    border-style: solid;
    border-color: white;
    margin: auto;
    margin-top: 32px;
}

.aboutBlock {
    margin: auto;
    display: block;
    width: 700px;
    height: 180px;
    background-color: #F93943;
    border-radius: 20px;
    border-style: solid;
    border-color: white;
}

.h1about {
    text-shadow: 2px 2px black;
}

.navPhotos ul {
    margin-left: 340px;
}

.h3about {
    text-shadow: 2px 2px black;
}

.h1contact {
    text-shadow: 2px 2px black;
}
.navContacts {
    margin-left: 600px;
}

.h2contacts {
    text-shadow: 2px 2px black;
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    column-gap: 25px;
}