.parent {
    background-color: darkslateblue;
    height: 400px;
    width: 400px;
}

.child {
    background-color: red;
    height: 50%;
    width: 50%;
    transition: transfor 1s ease-in-out;
}

.parent:hover .child {
    transform: translateX(100%);
}